#unanchor-itineraries ul li {
    padding-left: 0;
    background: none;
}
#unanchor-itineraries ul li img {
    float: left; border: 2px solid #A4A4A4; margin-right: 10px; width: 35px; height: 35px;
}
#unanchor-itineraries {
}
#unanchor-itineraries {
}
